/* ======================= GENERAL CSS ====================================== */

body {
   background-color: #e9e9e9;
   font-family: 'Montserrat', sans-serif;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

.portada-index {
   max-height: 80vh;
}


.navbar-logo {
   width: 50px;
   height: 50px;
}

.nav-item>a {
   color: #fff;
   font-weight: 400;
}

.nav-item>a:hover {
   background-color: #fff;
   color: rgba(33, 37, 41, 1);
   transition: 1s;
}

.brand-text:hover {
   background-color: #fff;
   color: rgba(33, 37, 41, 1);
   transition: 1s;
}

footer {
   margin-top: auto;
   display: flex;
   justify-content: center;
   align-items: center;
}

.footer-copyright {
   margin: 0;
   padding: 7px;
}

/* =============== PROYECTOS HTML  =============================*/

.proyect-section:first-child {
   margin-top: 110px;
}

.list-group {
   border-bottom: 1px solid black;
   border-bottom: none !important;
}

.list-group-item {
   background-color: transparent;
}

.list-group-item-description {
   font-size: 14px;
   font-weight: lighter;
   padding-top: 7px;
}

.proyect-img-title {
   font-size: 16px;
}

.proyect-img-description {
   font-size: 14px;
   margin: 0;
   text-align: justify;
}

/* ========== ICONOS DE INSTAGRAM Y LINKEDIN QUE APARECEN EN TODAS LAS PÁGINAS ========== */

.footer-sociales {
   display: flex;
   flex-direction: column;
   align-items: center;
   position: fixed;
   right: 0;
   bottom: 48px;
}

/* ======================== SERVICIOS HTML ==============================*/

.main-services {
   margin-top: 120px;
}

/* ======================== SOBRE NOSOTROS HTML ==============================*/
.main-about-us {
   margin-top: 120px;
}

/* ======================== SOBRE NOSOTROS HTML ==============================*/

.contact-main {
   min-height: 80vh;
}

/* ======================== RESPONSIVE MEDIA QUERIES ==================================== */

@media (min-width: 992px) {
   .border-top {
      border-top: none !important;
   }

   .proyect-img-figcaption {
      display: flex;
      flex-direction: column;
      width: 50%;
      position: relative;
      left: 50%;
   }

   .proyect-img-title,
   .proyect-img-description {
      width: auto;
      justify-content: start;
      align-items: start;
   }
}

@media (max-width: 992px) {
   .navbar-ul {
      margin-top: 18px;
   }

   .footer-sociales {
      display: none;
   }
}