/* ======================== SERVICIOS HTML ==============================*/

.main-services {
   margin-top: 120px;
}

.services-section {

   img {
      height: 300px;
   }

   p {
      text-align: justify;
   }
}
@media (max-width: 768px) {
   .main-services {
      overflow-x: hidden;
   }
}