/* ======================== SOBRE NOSOTROS HTML ==============================*/
.row-sobre-nosotros {
   margin-right: 0;
   margin-left: 0;
}

.profile-card {
   height: 500px;
   box-shadow: 0 0 30px rgba(0, 0, 0, .5);

   &-img1 {
      img {
         height: 200px;
         object-fit: contain;
      }
   }

   &-img2 {
      img {
         position: relative;
         display: block;
         margin-left: auto;
         margin-right: auto;
         z-index: 1;
         width: 140px;
         height: 140px;
         border-radius: 50%;
         border: 7px solid $color-white;
         margin-top: -80px;
      }
   }

   &-title {
      display: flex;
      flex-direction: column;

      h2 {
         display: flex;
         justify-content: center;
         align-items: center;
         padding: 7px;
         margin-top: 5px;
      }
   }

   &-socials {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 25px;
   }

   &:first-child {
      margin-bottom: 80px;
   }

   &:last-child {
      margin-bottom: 80px;
   }
}

.sobre-nosotros-socials {
   color: $color-text;
   font-size: 2rem;
}


//Responsive media

@media (min-width: 992px) {
   .row-sobre-nosotros {
      display: flex;
      flex-wrap: nowrap;
      gap: 1rem;
   }
}

@media (min-width: 768px) and (max-width: 992px) {
   .sobre-nosotros-bg-img {
     margin-top: 20px;
   }
 }

@media (min-width:1200px) {
   .sobre-nosotros-bg-img {
      margin-top: 20px;
    }
}