footer {
   margin-top: auto;
   display: flex;
   justify-content: center;
   align-items: center;
}

.footer-copyright {
   margin: 0;
   padding: 7px;
}

.location-button {
   color: $color-white;
   border: none;
   outline: none;
   background-color: transparent;
   font-size: 1.1rem;
}

